body {
    font-family: "小塚ゴシック Pro","ヒラギノ角ゴ Pro W3", メイリオ, Osaka, Arial, Verdana, "ＭＳ Ｐゴシック", sans-serif
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: white
}

body {
    background: #009d41;
    background-position: center;
    background-size: contain;
    background-attachment: fixed
}

a {
    color: white;
    text-decoration: none
}

header {
    display: table;
    margin: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    text-align: center
}

#wrapper {
    max-width: 850px;
    margin: auto
}

#velttext {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0
}

velttext a {
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out
}

h2 {
    padding-top: 0;
    text-align: center
}

#twitter {
    display: inline-block
}

footer,
#share,
#twitterp {
    text-align: center
}

#share ul {
    margin: 0;
    padding: 0
}

#share ul li {
    display: inline-block;
    width: 20%
}

nav {
    background: rgba(80, 80, 80, 1);
    margin: 0;
    height: 60px;
    width: 100%;
    text-align: right
}

nav ul li {
    display: inline-block;
    padding-right: 20px
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    margin: 0;
    width: 100%;
    text-align: right
}

.btn {
    display: inline-block;
    width: 200px;
    padding: 10px;
    background: #fff;
    border-radius: 25px;
    margin: auto
}

.btn a {
    color: black
}

.logo img {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 450px
}

.logo {
    width: 100%;
    height: 35%;
    max-height: 450px;
    margin: auto;
    display: inline-block
}

.logoimg {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none
}

.navlogo {
    margin-bottom: -60px;
    height: 60px;
    width: 120px
}

.fixed div {
    display: block;
    position: fixed
}

#twitter {
    margin-top: 30px
}

.navicon {
    display: none
}

@media screen and (max-width:879px) {
    #wrapper {
        padding: 0 1em
    }
}

@media screen and (max-width:700px) {
    nav ul {
        height: 24px
    }
    .navicon {
        display: block;
        float: right;
        position: absolute;
        right: 10px;
        margin-top: 10px;
        width: 42px;
        height: 42px
    }
    .navicon span {
        display: block;
        background: #fff;
        width: 24px;
        height: 2px;
        position: absolute;
        left: 9px;
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s
    }
    .fixed .navicon {
        margin-top: 0;
        top: 10px;
        right: 10px
    }
    .navicon span:first-child {
        top: 12px
    }
    .navicon span:nth-child(2) {
        margin-top: -1px;
        top: 50%
    }
    .navicon span:last-child {
        bottom: 12px
    }
    .navicon.active span:first-child {
        -webkit-transform: translateY(8px) rotate(45deg);
        -moz-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg)
    }
    .navicon.active span:nth-child(2) {
        opacity: 0
    }
    .navicon.active span:last-child {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg)
    }
    nav ul {
        -webkit-transition: height .15s .6s linear;
        -o-transition: height .15s .6s linear;
        -ms-transition: height .15s .6s linear;
        transition: height .15s .6s linear;
        margin-top: 60px;
        height: 0;
        background-color: rgba(80, 80, 80, 1)
    }
    nav ul.active {
        -webkit-transition: height .15s linear;
        -o-transition: height .15s linear;
        -ms-transition: height .15s .6s linear;
        transition: height .15s linear;
        height: 60px
    }
    nav ul li {
        margin-top: 5px;
        -webkit-transform: translateY(-1200px);
        -ms-transform: translateY(-1200px);
        -o-transform: translateY(-1200px);
        transform: translateY(-1200px);
        -webkit-transition: transform .01s .65s;
        -o-transition: transform .01s .65s;
        transition: transform .01s .65s
    }
    nav ul li a {
        -webkit-transition: opacity .6s;
        -o-transition: opacity .6s;
        -ms-transition: opacity .6s;
        transition: opacity .6s;
        opacity: 0
    }
    nav ul.active li {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: transform .01s;
        -o-transition: transform .01s;
        transition: transform .01s
    }
    nav ul.active li a {
        -webkit-transition: opacity .6s .2s;
        -o-transition: opacity .6s .2s;
        -ms-transition: opacity .6s .2s;
        transition: opacity .6s .2s;
        opacity: 1
    }
    #effect {
        margin-top: 60px
    }
    #approval ul,
    #distribution ul {
        padding:0;
        list-style:none;
    }
    #approval li,
    #distribution li {
        margin: 1em 0 1em 0
    }
}

@media screen and (max-width:339px) {
    body {
        font-size: small;
    }
    nav ul.active {
        height: 90px
    }
    #wrapper {
        padding: 0 1em;
    }
    #effect {
        margin-top: 90px
    }
    #approval>ul,#distribution>ul {
        padding: 0;
    }
}

@media screen and (max-width:399px) {
    footer {
        font-size: 12px
    }
}

#distribution a {
    text-decoration: underline
}

#approval a {
    text-decoration: underline
}

#share ul li a img,
#points img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0
}

.detail {
    margin: 1.5em 0 0;
    padding: 12px 18px;
    border: 2px solid rgba(0, 0, 0, 0.1)
}

.detail li,
.detail li p {
    margin: 0;
    padding: 0
}

.detail li {
    list-style: none
}

.detail li p a {
    position: relative;
    top: 0;
    left: 0
}

.detail li p a:after,
.detail li p a:hover:after {
    color: #333;
    background: rgba(0, 0, 255, 0.1)
}

.detail li p a:after {
    content: "詳しく見る";
    font-size: .85em;
    height: 17px;
    line-height: 17px;
    padding: 4px 8px;
    margin: 0 8px
}

.detail li p a.open:after {
    content: "閉じる"
}

.detail li p a,
.child li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.detail li a {
    display: block;
    padding: 8px 0;
    font-weight: 700;
    text-decoration: none
}

.detail-column {
    display: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0,0,.05);
    border-radius: 15px;
}
.detail-column>li{
    margin:0 1em;
}

footer {
    margin-top: 1em
}